.idea/
node_modules/
.DS_Store
dist/
ts/
docs/
.cache
coverage

# yarn specific
# see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
