name: 'Close Pull Request'

on:
  pull_request:
    types: [closed]

jobs:
  update-release-notes:
    if: ${{ github.event.pull_request.merged == true
      && github.event.pull_request.base.ref == 'master'}}
    runs-on: ubuntu-latest
    name: Update release notes
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.base.ref }}
      cancel-in-progress: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Get icons version
        id: get_version
        run: |
          echo "icons_version=$(node -p "require('./packages/icons/package.json').version")" >> $GITHUB_OUTPUT

      - name: Update release notes script
        uses: VKCOM/gh-actions/icons/auto-update-release-notes@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pull_request_number: ${{ github.event.pull_request.number }}
          current_icons_version: ${{ steps.get_version.outputs.icons_version }}
